@import '../../mixins.scss';

.offer {
    width: 16rem;
    height: 22rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 2rem 0 2rem 2rem;
    box-shadow: 8px 8px rgba(112, 112, 112, 0.1);

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .type {
        position: absolute;
        margin-left: 0.5rem;
        top: 6px;
        left: 0;
        padding: 4px;
        font-style: bold;
        font-weight: bold;
        background-color: yellow;
    }
}

.image-offer {
    width: 100%;
}

.offer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
p:first-child {
    margin: 1rem 0 1rem 0;
}

.slide-list,
ul,
li {
    display: flex;
    flex-direction: row-reverse;
    list-style: none;
    @include breakpoint(xs) {
        flex-direction: column;
    }
}
