@import '../../mixins.scss';

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    background: var(--primary-color);
    @include breakpoint(xs) {
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }

    &__logo {
        margin: 1.3rem 0 0 0;
        @include breakpoint(xs) {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__list {
        display: flex;
        list-style: none;
        @include breakpoint(xs) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__item {
        margin: 1.875rem 3rem 0 0;
        text-transform: uppercase;
        @include breakpoint(xs) {
            margin: 1.875rem 0 0 0;
        }
    }

    a:link,
    a:visited {
        color: var(--font-color2);
        text-decoration: none;
    }
    a:hover,
    a:active {
        border-bottom: solid #ffffff 2px;
    }
}
