.container-testimonials {
    margin: 4.188rem 0 0 0;
}

.testimonials {
    display: flex;
    justify-content: center;
    margin: 5.85rem 0 0 0;
}

.container-testimonial {
    width: 23rem;
    height: 25.563rem;
    margin: 0 0 0 1.875rem;
    background: #cecdcd;
    display: flex;
    flex-direction: column;
    align-items: center;
}
